.link svg {
  transition: fill 0.2s linear;
}

.link {
  &:hover svg {
    fill: var(--secondary);
  }

  &:active {
    opacity: 0.5;
  }

  &_active {
    cursor: default;
    user-select: none;
    pointer-events: none;
  }
}
